*{
	margin: 0px;
	padding: 0px;
}

body{
	text-align: center;
	background: radial-gradient(#0e2f3f, #031e2f, #000102);
}

html{
	height: 100%;
}

header{
    overflow: hidden;
    width: 100%; 
  }

  #textoArriba{
	margin-left: 1%;
    margin-top: 2.5%;
	float: left;
	color: white;
	width: fit-content;
	position: fixed;
  }

#imagenAvion{
	margin-left: 42%;
	margin-top: 1%;
	width: 20%;
	height: 30%;
	filter: invert(1.2);
}

#barraOpciones{
	margin-top: 1.7%;
	right: 3%;
	width: 36%;
}

p{
	z-index: 1;
}

#registrarme{
	width: fit-content;
	float: left;
	margin-left: 8%;
	font-size: 2.4vh;
}

#sesion{
	opacity: 0.7;
	float: left;
	width: fit-content;	
	margin-top: 1.4%;
	margin-left: 1%;
	margin-right: 17%;
	font-size: 1.5vh
}

#info{
	float: left;
	width: fit-content;
	top: 1%;
	font-size: 2.4vh;	
	margin-right: 14%; 
}

a:hover{
	text-shadow:
	0 0 7px #fff,
	0 0 2px #fff,
	0 0 92px rgb(246, 246, 246),
	0 0 102px rgba(255, 255, 255, 0.513),
	0 0 151px rgba(131, 130, 131, 0.808);
}

a{
	color:white;
	text-decoration: none;
}

  #nombre{
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	float: left;
	width: fit-content;
	margin-top: 0.8%;
	margin-left: 18%;
	margin-right: 32%;
    font-size: 4.8vh;
	color: rgb(255, 255, 255);
    text-shadow:
      0 0 2px #fff,
      0 0 3px #fff,
      0 0 2px #fff,
      0 0 4px rgba(250, 250, 250, 0.808),
      0 0 112px rgba(255, 255, 255, 0.513),
      0 0 111px rgba(131, 130, 131, 0.808);
  }

  #fly{
	  float: right;
	  margin-top: 1.5%;
  }

  #barraOpciones{
	  margin-top: 2.5%;
	  margin-left: 55%;
	  position: fixed;
  }
  .redesSociales{
	position: fixed;
	margin-left: 1%;
}

ul{
	list-style: none;
}

li a{
	display: inline-block; /*para poder poner padding*/
	color: white;
	padding: 10px 15px;
	text-decoration: none;
	transition: all 500ms ease;
}

li a:hover{
	padding-right: 60%;
}

.icon-whatsapp:hover{
	background-color: rgb(10, 221, 10);
}

.icon-instagram:hover{
	background-color: rgb(179, 18, 200);
}

.icon-twitter:hover{
	background-color: rgb(16, 122, 221);
}

.icon-facebook:hover{
	background-color: rgb(0, 59, 235);
}

#contenedorMedio{
	margin-left: 17%;
	width: 65%;
  }

.reservar{
	text-align: center;
	color: rgb(225, 226, 238);
	margin-top: 1%;
	color: honeydew;
}

.r1{
	font-size: 1.8vh;
	opacity: 0.8;
	font-family: 'Expletus Sans', cursive;
}

.r2{
	font-size: 3.5vh;
	font-family: 'Proza Libre', sans-serif;
}

.r3{
	font-size: 2.2vh;
	font-family: 'Fira Sans', sans-serif;
}

.contenedorElegir{	
	background-color: rgb(228, 228, 228);
	width: 89%;
	height: 120px;
	padding-bottom: 3%;
	margin-left: 5%;
	margin-top: 5%;
	border-radius: 3px 3px 3px 3px;
	box-shadow:
      0 0 4px rgb(0, 0, 0),
      0 0 10px rgb(0, 0, 0);
	z-index: 1;
}
/*USAR GRID O FLEXBOX PARA HACER EL POSICIONAMIENTO.*/
.caja{
	font-size: 2vh;
	color: white;
	border-radius: 4px 4px 4px 4px;
	z-index: 1;
}

.llegada{
	width: fit-content;
	float: left;
	margin-left: 11%;
}

.salida{
	width: fit-content;
	margin-left: 2%;
	float: left;
}

.continuar{
	background-color: rgb(3, 0, 152);
	padding: 1.9%;
	margin-left: 11%;
	width: 26%;
	float: left;
}

.continuar:hover{
	background-color: rgba(3, 0, 152, 0.883);
	border-color:#000000;
	box-shadow: 0 0 7px rgb(7, 7, 7);
}

.label{
	border-radius: 4px 4px 4px 4px;
	font-size: 1.8vh;
	padding: 9%;
	padding-right: 40%;
}

.label:hover{
	border-color:#0c0044;
	box-shadow: 0 0 7px rgb(7, 7, 7);
}

#pBusqueda{
	font-size: 1.6vh;
	color: rgb(8, 6, 175);
	padding: 1%;
	margin-left: 1%;
	text-align: justify;
}

#contenedorComo{
	font-size: 1.8vh;
	background-color: rgb(228, 228, 228);
	width: 85%;
	margin-left: 5%;
	margin-top: 5%;
	padding: 2%;
	text-align: justify;
	border-radius: 3px 3px 3px 3px;
	box-shadow:
      0 0 4px rgb(0, 0, 0),
      0 0 10px rgb(0, 0, 0);
	z-index: 1;
}

#comoReservar{
	font-size: 2vh;
	z-index: 1;
}

hr{
	border-color: rgb(4, 0, 255);
	width: 5%;	
}

#contenedorAbajo{
	margin-top: 6.5%;
	width: 100%;
	height: 14%;
	z-index: 1;
}

#ciudadImg{
	width: 35%;
	z-index: 1;
	border-radius: 3px 3px 3px 3px;
}

#viajaCon{
	margin-top: 5%;
	color: white;
	font-size: 5.5vh;
	float: right;
	margin-right: 8%;
	font-family: 'Merriweather Sans', sans-serif;
}

footer{
	background-color: rgb(1, 3, 20);
	opacity: 0.7;
	margin-top: 5%;
	width: 100%;
	height: 100px;
}

#avionIzqFooter{
	float: left;
	margin-left: 15%;
	margin-top: 1%;
	width: 7%;
	height: 80%;
	filter: invert(3);
}

#avionDerFooter{
	margin-top: 1%;
	margin-left: 6.5%;
	width: 7%;
	height: 80%;
	filter: invert(3);
}

#designed{
	margin-top: 2%;
	margin-left: 24%;
	float: left;
	color: white;
}

#año{
	float: left;
	margin-top: 3%;
	margin-left: -5.2%;
	color: white;
}

.estrella{
	z-index: 0;
	width: 2px;
	height: 2px;
	background: white;
	position: absolute;
	border-radius: 50%;
}

._1{
	top: 30%;
	left: 50%;
	animation: estrella_1 1.2s infinite;
}

._2{
	top: 25%;
	left: 70%;
	animation: estrella_1 2.2s infinite;
}

._3{
	top: 20%;
	left: 30%;
	animation: estrella_1 4.2s infinite;
}

._4{
	top: 80%;
	left: 20%;
	animation: estrella_1 2.7s infinite;
}

._5{
	top: 60%;
	left: 70%;
	animation: estrella_1 5.2s infinite;
}

._6{
	top: 50%;
	left: 30%;
	animation: estrella_1 4.2s infinite;
}

._7{
	top: 20%;
	left: 40%;
	animation: estrella_1 2.7s infinite;
}

._8{
	top: 10%;
	left: 23%;
	animation: estrella_1 5.2s infinite;
}

._9{
	top: 80%;
	left: 27%;
	animation: estrella_1 4.2s infinite;
}

._10{
	top: 50%;
	left: 40%;
	animation: estrella_2 2.7s infinite;
}

._11{
	top: 90%;
	left: 16%;
	animation: estrella_2 5.2s infinite;
}

._12{
	top: 63%;
	left: 62%;
	animation: estrella_2 4.2s infinite;
}

._13{
	top: 11%;
	left: 59%;
	animation: estrella_2 2.7s infinite;
}

._14{
	top: 26%;
	left: 87%;
	animation: estrella_2 1.2s infinite;
}

._15{
	top: 77%;
	left: 26%;
	animation: estrella_2 5.2s infinite;
}

._16{
	top: 17%;
	left: 56%;
	animation: estrella_2 5.2s infinite;
}

._17{
	top: 87%;
	left: 46%;
	animation: estrella_2 5.2s infinite;
}

._18{
	top: 27%;
	left: 56%;
	animation: estrella_2 5.2s infinite;
}

._19{
	top: 87%;
	left: 46%;
	animation: estrella_3 1s infinite;
}

._20{
	top: 27%;
	left: 56%;
	animation: estrella_3 3.2s infinite;
}

._21{
	top: 11%;
	left: 22%;
	animation: estrella_3 1.5s infinite;
}

._22{
	top: 33%;
	left: 64%;
	animation: estrella_3 2.2s infinite;
}

._23{
	top: 57%;
	left: 36%;
	animation: estrella_3 4.2s infinite;
}

._24{
	top: 78%;
	left: 10%;
	animation: estrella_3 6.1s infinite;
}

._25{
	top: 28%;
	left: 89%;
	animation: estrella_3 3.2s infinite;
}

._26{
	top: 24%;
	left: 67%;
	animation: estrella_3 5.2s infinite;
}

._27{
	top: 56%;
	left: 34%;
	animation: estrella_3 1.2s infinite;
}

._28{
	top: 27%;
	left: 26%;
	animation: estrella_3 2.2s infinite;
}

._29{
	top: 80%;
	left: 98%;
	animation: estrella_1 3.2s infinite;
}

._30{
	top: 90%;
	left: 16%;
	animation: estrella_1 2.2s infinite;
}

._31{
	top: 20%;
	left: 5%;
	animation: estrella_1 2.2s infinite;
}

._32{
	top: 37%;
	left: 10%;
	animation: estrella_1 2.2s infinite;
}

._33{
	top: 140%;
	left: 26%;
	animation: estrella_1 2.2s infinite;
}

._34{
	top: 130%;
	left: 56%;
	animation: estrella_1 2.2s infinite;
}

._35{
	top: 110%;
	left: 76%;
	animation: estrella_1 2.2s infinite;
}

._36{
	top: 140%;
	left: 96%;
	animation: estrella_2 2.2s infinite;
}

._37{
	top: 127%;
	left: 2%;
	animation: estrella_1 2.2s infinite;
}

._38{
	top: 107%;
	left: 70%;
	animation: estrella_2 2.2s infinite;
}

._39{
	top: 97%;
	left: 90%;
	animation: estrella_2 2.2s infinite;
}

._40{
	top: 107%;
	left: 96%;
	animation: estrella_2 2.2s infinite;
}

._41{
	top: 104%;
	left: 46%;
	animation: estrella_2 2.2s infinite;
}

._42{
	top: 10%;
	left: 86%;
	animation: estrella_2 2.2s infinite;
}

._43{
	top: 47%;
	left: 86%;
	animation: estrella_2 2.2s infinite;
}

._44{
	top: 57%;
	left: 92%;
	animation: estrella_2 2.2s infinite;
}

._45{
	top: 37%;
	left: 96%;
	animation: estrella_3 2.2s infinite;
}

._46{
	top: 57%;
	left: 2%;
	animation: estrella_3 2.2s infinite;
}

._47{
	top: 27%;
	left: 26%;
	animation: estrella_3 2.2s infinite;
}

._48{
	top: 82%;
	left: 80%;
	animation: estrella_3 2.2s infinite;
}

._49{
	top: 140%;
	left: 76%;
	animation: estrella_2 2.2s infinite;
}

._50{
	top: 90%;
	left: 90%;
	animation: estrella_3 2.2s infinite;
}

@keyframes estrella_1{
	0%, 20%{
		box-shadow: 0 0 2px 1px rgba(255,255,255,.3);
	}
	100%{
		box-shadow: 0 0 4px 4px rgba(255,255,255,.3);
	}
}

@keyframes estrella_2{
	0%, 60%{
		box-shadow: 0 0 2px 3px rgba(255,255,255,.3);
	}
	100%{
		box-shadow: 0 0 4px 6px rgba(255,255,255,.3);
	}
}

@keyframes estrella_3{
	0%, 30%{
		box-shadow: 0 0 2px 2px rgba(255,255,255,.3);
	}
	100%{
		box-shadow: 0 2 1px 2px rgba(255,255,255,.3);
	}
}
